<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <title>Resume Portal</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'img_login/mic_logo.png' %}" rel="icon">

  <!-- Google Fonts -->
  <link href="{% static 'css_login/fonts.css' %}" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib_login/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib_login/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib_login/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib_login/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'lib_login/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css_login/style.css' %}" rel="stylesheet">
  <link href="{% static 'css_login/overlay.css' %}" rel="stylesheet">

</head>

<body>
  <!--==========================
    Header
  ============================-->
              {% block content2 %}
        {% include 'main/header.html' %}
            {% endblock %}
<!-- #header -->
  <!--==========================
    Intro Section
  ============================-->

  <section id="intro">
      {% block body %}
      {% endblock %}
  </section>
  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>About The Project</h2>
            <p  align="justify"><strong><span>R</span>esume <span>P</span>ortal </strong> is a project that comes under <span>NLP</span> i.e Natural Language Processing.
			These portal can be used to identify the talents within the organization.   </p>
          </div>

          <div class="col-lg-6">
            <h3>How its processed ?</h3>
            <p align="justify">Data for the portal is from two different resources i.e Resume of the Employees and from the Employee Survey taken.
           A layer of NLP is added to the portal for ease of identifying the employees as per the need.</p>
          </div>
        </div>
      </div>
    </section>

  </main>


  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Digital Innovation</strong>@<span><strong>IBS&nbsp</strong></span>. All Rights Reserved
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib_login/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib_login/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib_login/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib_login/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib_login/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'lib_login/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'lib_login/wow/wow.min.js' %}"></script>
  <script src="{% static 'lib_login/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'lib_login/owlcarousel/owl.carousel.min.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js_login/main.js' %}"></script>
  <script src="{% static 'js_login/overlay.js' %}"></script>

  <!-- Recorder Javascript Files -->
</body>

</html>
