#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  opacity: 0.8;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
#img{
box-sizing: border-box;
overflow: visible;
flex: 0 0 auto;
display: flex;
justify-content: center;
align-items: center;
background-image: url('listening.gif");
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
width: 180px!important;
height: 180px!important;');

}
/*
#img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
  margin-top : 45px;
}

.loaderGifStyle{
	/*width : 397px !important;
	height : 150px !important;*/
}
'cssText','order: 2; box-sizing: border-box; overflow: visible; flex: 0 0 auto; display: flex; justify-content: center; align-items: center; background-image: url("images/processing.gif"); background-position: center center; background-repeat: no-repeat; background-size: cover; width: 180px!important; height: 180px!important;');
*/