canvas {
   /* display: inline-block; */
    background: #202020;
    width: 30%;
    height: 20%;
    box-shadow: 0px 0px 10px blue;
}
img.animated-gif{
  width: 150px;
  height: auto;
}

#controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 20%;
    width: 100%;
}

#save, #save img { height: 10vh; }
#save { opacity: 0.25;}
#save[download] { opacity: 1;}
#viz {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



