{% load static %}
<link rel="stylesheet" href="{% static 'resumeparser/css/custom/page_segment.css' %}">
<script src="{% static 'resumeparser/js/custom/tablepaginate.js' %}" type="text/javascript"></script>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Technology</th>
      <th>Is Digital</th>
      <!--<th>AppType</th>-->
        <th>Category</th>
        <th>Status</th>
        <th>Final</th>


    </tr>
  </thead>
  <tbody>
    {% for user in comment_info.users %}
     <tr>
       <td>{{user.technology}}</td>
       <td>{{user.digital}}</td>
       <!--<td>{% for item in user.apptype.all %}-->
       <!--{{item}}.-->
       <!--{% endfor %}</td>-->
       <td>{{user.category}}</td>
       <td>{{user.status}}</td>
       <td>{{user.app_final}}</td>
     </tr>
  {% endfor %}
  </tbody>
</table>

<!--PAGINATION HERE.....-->

<div class="pagination-container">

{% if comment_info.page_info %}

 {% include 'resumeparser/components/page_segment.html' with page_info=comment_info.page_info %}

{% endif %}

</div>