{% extends 'main/dashboard.html' %} {% block body %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Search for Employees</h4>
                    </div>
                    <div class="card-body table-responsive">
                       <form class="navbar-form">
											<span class="bmd-form-group"><div class="input-group no-border">
												<input type="text" value="" class="form-control" placeholder="Search...">
													<button type="submit" class="btn btn-white btn-round btn-just-icon">
														<i class="material-icons">search</i>
														<div class="ripple-container"></div>
													</button>
												</div></span>
                       </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}