<!DOCTYPE html> {# This is our templates/base.html template #}

<html lang="en">

<head>

    <title>{% block title %}IBS Employee Skill Portal{% endblock %}</title>

    {% load static %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!---------------************************--------------->
    <!---------------************************--------------->
    <!--Copy pates base JS file reference to the next level inherited template-->
    <!---------------************************--------------->
    <!---------------************************--------------->

    <script src="{% static 'resumeparser/js/third_party/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'resumeparser/js/third_party/popper.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'resumeparser/js/third_party/bootstrap.min.js' %}" type="text/javascript"></script>

    <!---------------************************--------------->
    <!---------------************************--------------->
    <!--Adds JS file reference from next level inherited template-->
    <!---------------************************--------------->
    <!---------------************************--------------->

    {% block base_add_js %} {% endblock %}

    <!---------------************************--------------->
    <!---------------************************--------------->
    <!--Copy pates base CSS file reference to the next level inherited template-->
    <!---------------************************--------------->
    <!---------------************************--------------->

    <link rel="stylesheet" type="text/css" href="{% static 'resumeparser/css/third_party/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'resumeparser/css/third_party/jquery-ui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'resumeparser/css/custom/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'resumeparser/css/custom/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'resumeparser/css/custom/ibs_emp.css' %}">

    <!---------------************************--------------->
    <!---------------************************--------------->
    <!--Adds CSS file reference from next level inherited template-->
    <!---------------************************--------------->
    <!---------------************************--------------->

    {% block base_add_css %} {% endblock %}

</head>

<body>

    <div id="content" class="full-width">

        {% block base_content %}

        <!---------------************************--------------->
        <!---------------************************--------------->
        <!--Adds HTML body content from next level inherited template-->
        <!---------------************************--------------->
        <!---------------************************--------------->

        {% endblock %}

    </div>
</body>

</html>