<!--{% extends "resumeparser/base_layouts/sidebar_layout.html" %} {% load static %} {% block master_add_js %}-->

<!--&lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;************************-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--&lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;************************-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--&lt;!&ndash;Adds JS file reference from next level inherited template&ndash;&gt;-->
<!--&lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;************************-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--&lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;************************-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->

<!--<script src="{% static 'resumeparser/js/third_party/jquery-ui.js' %}" type="text/javascript"></script>-->
<!--<script src="{% static 'resumeparser/js/custom/technology_autocomplete.js' %}" type="text/javascript"></script>-->
<!--<script src="{% static 'resumeparser/js/custom/employee_list_pagination.js' %}" type="text/javascript"></script>-->

<!--{% endblock %} {% block master_add_css %}-->

<!--<link rel="stylesheet" type="text/css" href="{% static 'resumeparser/css/custom/pagination_style.css' %}"> {% endblock %}-->

<!--&lt;!&ndash; CONTENT HERE &ndash;&gt;-->

<!--{% block master_content %}-->

<!--&lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;************************-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--&lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;************************-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--&lt;!&ndash;Adds HTML body content from next level inherited template&ndash;&gt;-->
<!--&lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;************************-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--&lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;************************-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->

<!--<div class="heading-bar">-->
    <!--Search Employee-->
<!--</div>-->

<!--<div class="row">-->

    <!--<div class="col-lg-12 col-md-2 col-sm-12 col-xs-12"></div>-->

    <!--<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">-->

        <!--<div class="item-grid data-input-grid">-->

            <!--<div class="item-grid-row">-->
                <!--<div class="item-grid-column data-input-title">Search Technology</div>-->
                <!--<div class="item-grid-column">-->
                    <!--<div class="item-grid-row">-->
                        <!--<div class="full-width-column">-->
                            <!--<input type="text" class="search-input tech-search" placeholder="type employee skill name ...">-->
                            <!--<div id="container"></div>-->
                        <!--</div>-->
                        <!--<div class="item-grid-column">-->
                            <!--<button class="search-btn-skill">Search</button>-->
                            <!--&lt;!&ndash; <img class="station-edit-btn" src="{% static 'RailwayInfoAPIs/images/search.png' %}"> &ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->
            <!--</div>-->
            <!--<div class="item-grid-row">-->
                <!--<div class="item-grid-column"></div>-->
                <!--<div class="item-grid-column" id="skill_container">-->

                <!--</div>-->
            <!--</div>-->

        <!--</div>-->

        <!--<div style="width:100%;" id="box">-->

        <!--</div>-->

    <!--</div>-->

    <!--<div class="col-lg-4 col-md-2 col-sm-12 col-xs-12"></div>-->
<!--</div>-->

<!--{% endblock %}-->