{% extends 'main/dashboard.html' %}
{% load static %} {% block master_add_js %}

<!---------------************************--------------->
<!---------------************************--------------->
<!--Adds JS file reference from next level inherited template-->
<!---------------************************--------------->
<!---------------************************--------------->

<script src="{% static 'resumeparser/js/third_party/jquery-ui.js' %}" type="text/javascript"></script>
<script src="{% static 'resumeparser/js/custom/technology_autocomplete.js' %}" type="text/javascript"></script>
<script src="{% static 'resumeparser/js/custom/employee_list_pagination.js' %}" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% endblock %} {% block master_add_css %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="{% static 'resumeparser/css/custom/pagination_style.css' %}"> {% endblock %}

<!-- CONTENT HERE -->

{% block body %}
<div class="container-fluid" style="background:#e7ecec;">
    <h4>Digital Quotient Statistics</h4>
    <div class="row">

        <div class="col-lg-6 pt-4">
            <div class='tableauPlaceholder' id='viz1560142716501' style='position: relative'>
                <noscript>
                    <a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Re&#47;Resume_Portal_All&#47;ByLocation&#47;1_rss.png' style='border: none' />
                    </a>
                </noscript>
                <object class='tableauViz' style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                    <param name='embed_code_version' value='3' />
                    <param name='site_root' value='' />
                    <param name='name' value='Resume_Portal_All&#47;ByLocation' />
                    <param name='tabs' value='no' />
                    <param name='toolbar' value='yes' />
                    <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Re&#47;Resume_Portal_All&#47;ByLocation&#47;1.png' />
                    <param name='animate_transition' value='yes' />
                    <param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' />
                    <param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' />
                </object>
            </div>
            <script type='text/javascript'>
                var divElement = document.getElementById('viz1560142716501');
                var vizElement = divElement.getElementsByTagName('object')[0];
                vizElement.style.width = '100%';
                vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                var scriptElement = document.createElement('script');
                scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                vizElement.parentNode.insertBefore(scriptElement, vizElement);
            </script>

        </div>

        <div class="col-lg-6 pt-4">
            <div class='tableauPlaceholder' id='viz1560420086573' style='position: relative'>
                <noscript>
                    <a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;9W&#47;9WMDYFWTD&#47;1_rss.png' style='border: none' /></a>
                </noscript>
                <object class='tableauViz' style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                    <param name='embed_code_version' value='3' />
                    <param name='path' value='shared&#47;9WMDYFWTD' />
                    <param name='toolbar' value='yes' />
                    <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;9W&#47;9WMDYFWTD&#47;1.png' />
                    <param name='animate_transition' value='yes' />
                    <param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' />
                    <param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' />
                </object>
            </div>
            <script type='text/javascript'>
                var divElement = document.getElementById('viz1560420086573');
                var vizElement = divElement.getElementsByTagName('object')[0];
                vizElement.style.width = '100%';
                vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                var scriptElement = document.createElement('script');
                scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                vizElement.parentNode.insertBefore(scriptElement, vizElement);
            </script>

        </div>

    </div>

    <div class="row pt-4">

        <div class="col-lg-6">

            <div class='tableauPlaceholder' id='viz1560420049183' style='position: relative'>
                <noscript>
                    <a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Re&#47;Resume_Portal_All&#47;ByDesignation-Development&#47;1_rss.png' style='border: none' /></a>
                </noscript>
                <object class='tableauViz' style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                    <param name='embed_code_version' value='3' />
                    <param name='site_root' value='' />
                    <param name='name' value='Resume_Portal_All&#47;ByDesignation-Development' />
                    <param name='tabs' value='no' />
                    <param name='toolbar' value='yes' />
                    <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Re&#47;Resume_Portal_All&#47;ByDesignation-Development&#47;1.png' />
                    <param name='animate_transition' value='yes' />
                    <param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' />
                    <param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' />
                </object>
            </div>
            <script type='text/javascript'>
                var divElement = document.getElementById('viz1560420049183');
                var vizElement = divElement.getElementsByTagName('object')[0];
                vizElement.style.width = '100%';
                vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                var scriptElement = document.createElement('script');
                scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                vizElement.parentNode.insertBefore(scriptElement, vizElement);
            </script>

        </div>

        <div class="col-lg-6">

            <div class='tableauPlaceholder' id='viz1560417667849' style='position: relative'>
                <noscript>
                    <a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Re&#47;Resume_Portal_All&#47;ByDeisgnation-Testing&#47;1_rss.png' style='border: none' /></a>
                </noscript>
                <object class='tableauViz' style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                    <param name='embed_code_version' value='3' />
                    <param name='site_root' value='' />
                    <param name='name' value='Resume_Portal_All&#47;ByDeisgnation-Testing' />
                    <param name='tabs' value='no' />
                    <param name='toolbar' value='yes' />
                    <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Re&#47;Resume_Portal_All&#47;ByDeisgnation-Testing&#47;1.png' />
                    <param name='animate_transition' value='yes' />
                    <param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' />
                    <param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' />
                </object>
            </div>
            <script type='text/javascript'>
                var divElement = document.getElementById('viz1560417667849');
                var vizElement = divElement.getElementsByTagName('object')[0];
                vizElement.style.width = '100%';
                vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                var scriptElement = document.createElement('script');
                scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                vizElement.parentNode.insertBefore(scriptElement, vizElement);
            </script>

        </div>

    </div>

</div>

{% endblock %}