{% extends "resumeparser/base_layouts/sidebar_layout.html" %} {% load static %} {% block master_add_js %}

<!---------------************************--------------->
<!---------------************************--------------->
<!--Adds JS file reference from next level inherited template-->
<!---------------************************--------------->
<!---------------************************--------------->

<script src="{% static 'resumeparser/js/third_party/jquery-ui.js' %}" type="text/javascript"></script>
<script src="{% static 'resumeparser/js/custom/technology_autocomplete.js' %}" type="text/javascript"></script>
<script src="{% static 'resumeparser/js/custom/employee_list_pagination.js' %}" type="text/javascript"></script>

{% endblock %} {% block master_add_css %}

<link rel="stylesheet" type="text/css" href="{% static 'resumeparser/css/custom/pagination_style.css' %}"> {% endblock %}

<!-- CONTENT HERE -->

{% block master_content %}

<!---------------************************--------------->
<!---------------************************--------------->
<!--Adds HTML body content from next level inherited template-->
<!---------------************************--------------->
<!---------------************************--------------->

<h3>{{msg}}</h3> {% endblock %}