{% extends "main/dashboard.html" %} {% load static %}

{% block master_add_js %}

<!---------------************************--------------->
<!---------------************************--------------->
<!--Adds JS file reference from next level inherited template-->
<!---------------************************--------------->
<!---------------************************--------------->

<script src="{% static 'resumeparser/js/third_party/jquery-ui.js' %}" type="text/javascript"></script>
<script src="{% static 'resumeparser/js/custom/technology_autocomplete.js' %}" type="text/javascript"></script>
<script src="{% static 'resumeparser/js/custom/employee_list_pagination.js' %}" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/plugins/forceDirected.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<script src="https://www.amcharts.com/lib/4/themes/frozen.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->

{% endblock %}

{% block master_add_css %}
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
<link rel="stylesheet" type="text/css" href="{% static 'resumeparser/css/custom/pagination_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'resumeparser/css/custom/amchartdiv.css' %}">
{% endblock %}

<!-- CONTENT HERE -->

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8" id="chartdiv">
<script>
am4core.ready(function() {


// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

var chart = am4core.create("chartdiv", am4plugins_forceDirected.ForceDirectedTree);
var networkSeries = chart.series.push(new am4plugins_forceDirected.ForceDirectedSeries())

chart.data ={{ context | safe }}

networkSeries.dataFields.value = "value";
networkSeries.dataFields.name = "name";
networkSeries.dataFields.children = "children";
networkSeries.nodes.template.tooltipText = "{name}";
networkSeries.nodes.template.fillOpacity = 1;
networkSeries.manyBodyStrength = -20;
networkSeries.links.template.strength = 0.8;
networkSeries.minRadius = am4core.percent(2);

networkSeries.nodes.template.label.text = "{name}"
networkSeries.fontSize = 10;

}); // end am4core.ready()
</script>

<!-- HTML -->

        </div>

<!--{% if user_info.is_superuser %}-->
        <!--<div class="col-sm-4" id="chartdiv2">-->


<!--<script>-->
<!--am4core.ready(function() {-->

<!--// Themes begin-->
<!--am4core.useTheme(am4themes_frozen);-->
<!--am4core.useTheme(am4themes_animated);-->
<!--// Themes end-->

<!--// create chart-->
<!--var chart = am4core.create("chartdiv2", am4charts.GaugeChart);-->
<!--chart.innerRadius = am4core.percent(82);-->

<!--/**-->
 <!--* Normal axis-->
 <!--*/-->

<!--var axis = chart.xAxes.push(new am4charts.ValueAxis());-->
<!--axis.min = 0;-->
<!--axis.max = 100;-->
<!--axis.strictMinMax = true;-->
<!--axis.renderer.radius = am4core.percent(80);-->
<!--axis.renderer.inside = true;-->
<!--axis.renderer.line.strokeOpacity = 1;-->
<!--axis.renderer.ticks.template.strokeOpacity = 1;-->
<!--axis.renderer.ticks.template.length = 10;-->
<!--axis.renderer.grid.template.disabled = true;-->
<!--axis.renderer.labels.template.radius = 40;-->
<!--axis.renderer.labels.template.adapter.add("text", function(text) {-->
  <!--return text + "%";-->
<!--})-->

<!--/**-->
 <!--* Axis for ranges-->
 <!--*/-->

<!--var colorSet = new am4core.ColorSet();-->

<!--var axis2 = chart.xAxes.push(new am4charts.ValueAxis());-->
<!--axis2.min = 0;-->
<!--axis2.max = 100;-->
<!--axis2.renderer.innerRadius = 10-->
<!--axis2.strictMinMax = true;-->
<!--axis2.renderer.labels.template.disabled = true;-->
<!--axis2.renderer.ticks.template.disabled = true;-->
<!--axis2.renderer.grid.template.disabled = true;-->

<!--var range0 = axis2.axisRanges.create();-->
<!--range0.value = 0;-->
<!--range0.endValue = 50;-->
<!--range0.axisFill.fillOpacity = 1;-->
<!--range0.axisFill.fill = colorSet.getIndex(0);-->

<!--var range1 = axis2.axisRanges.create();-->
<!--range1.value = 50;-->
<!--range1.endValue = 100;-->
<!--range1.axisFill.fillOpacity = 1;-->
<!--range1.axisFill.fill = colorSet.getIndex(2);-->

<!--/**-->
 <!--* Label-->
 <!--*/-->

<!--var label = chart.radarContainer.createChild(am4core.Label);-->

<!--label.text = "DQ:{{dq}}%";-->


<!--/**-->
 <!--* Hand-->
 <!--*/-->
<!--var hand = chart.hands.push(new am4charts.ClockHand());-->
<!--hand.value = {{dq}};-->




<!--}); // end am4core.ready()-->
<!--</script>-->
        <!--</div>-->
<!--{% endif %}-->


    </div>

    <div class="row">

        <div class="col-sm-12">
            {% for data in empdata %}
            <h4>{{data.designation}}</h4><br>
            {{data.about}}

            {% endfor %}
        </div>
    </div>



</div>

{% endblock %}