{% extends 'main/dashboard.html' %}
{% if user.is_authenticated %}
{% block body %}
<div class="content">
    <div style="margin-left:472px; color:#117678;" id="request_message" >
           {% if messages is not None %}
                        <ul class="messages">
                            {% for message in messages %}
                            <b>{{ message }}</b>
                            {% endfor %}
                        </ul>
            {% else %}
                Error while inserting the data into the DB.
            {% endif %}
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="card" style="margin-top :0px !important;margin-bottom :0px !important;">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Run Bot Using Resume Folder</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <h4>Enter the path of the resume's folder</h4>
                        <p><form method="post" action="{% url 'run_check' %}" onsubmit="showHide()">
                        {% csrf_token %}
                        Enter path: <input type="text" name="path" required>
                        <br>
                        <input type="submit" class="btn btn-primary pull-right" value="Submit">
                        </form></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                    <div class="card" style="margin-top :0px !important;margin-bottom :0px !important;">
                        <div class="card-header card-header-info">
                            <h4 class="card-title">Run Bot Using CSV File</h4>
                        </div>
                        <div class="card-body table-responsive">
                            <h4>Enter the path of the CSV File</h4>
                            <p><form method="post" action="{% url 'run_checkCSV' %}"  onsubmit="showHide()">
                            {% csrf_token %}
                            Enter path: <input type="text" name="path" required>
                            <br>
                            <br>
                            Enter date: <input type="date" name="date" required>
                            <br>
                            <input type="submit" class="btn btn-primary pull-right" value="Submit">
                            </form></p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
 $('#request_message').hide();
 });
function showHide() {
    $('#request_message').show();
 }
</script>
{% endblock %}
{% else %}
<h3>Please Login To Continue</h3>
{% endif %}