<!doctype html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Paginate, Sort, Filter Table Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'resumeparser/css/third_party/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'resumeparser/css/custom/styles.css' %}">
    <style>
        body {
            background-color: #f7f7f7;
        }

        .container {
            margin: 150px auto;
        }
    </style>
</head>

<body>

    <div class="container">
        <h1>Paginate, Sort, Filter Table Demo</h1>
        <input type="search" id="search" class="form-control" placeholder="filter">
        <div id="root"></div>
        <div class="pages"></div>
    </div>
    <script src="{% static 'resumeparser/js/custom/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'resumeparser/js/custom/table-sortable.js' %}"></script>
    <script>
        data_from_django = {
            {
                context.tech_list
            }
        };
        var datas = data_from_django

        var columns = {
            'technology': 'technology',
            'digital': 'digital',
            'apptype': 'apptype',
            'category': 'category',
            'status': 'status',
            'app_final': 'app_final'
        }

        var TestData = {
            data: datas,
            columns: columns
        }

        var table = $('#root').tableSortable({
            data: TestData.data,
            columns: TestData.columns,
            dateParsing: true,
            processHtml: function(row, key) {
                if (key === 'avatar_url') {
                    return '<a href="' + row[key] + '" target="_blank">View Avatar</a>'
                }
                if (key === 'url') {
                    return '<a href="' + row[key] + '" target="_blank">Github Link</a>'
                }
                if (key === 'site_admin' && row[key]) {
                    return '<span class="btn btn-warning btn-sm">Admin</span>'
                }
                return row[key]
            },
            columnsHtml: function(value, key) {
                return value;
            },
            pagination: 8,
            showPaginationLabel: true,
            prevText: 'Prev',
            nextText: 'Next',
            searchField: $('#search'),
            responsive: [{
                maxWidth: 992,
                minWidth: 769,
                columns: TestData.col,
                pagination: true,
                paginationLength: 3
            }, {
                maxWidth: 768,
                minWidth: 0,
                columns: TestData.colXS,
                pagination: true,
                paginationLength: 2
            }]
        })
    </script>

</body>

</html>