<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {% load static %}
    <link href="{% static 'resumeparser/css/custom/jquerysctipttop.css' %}" rel="stylesheet" type="text/css">
    <title>jQuery treeSelector: Multi Select With Checkbox Tree Example</title>
    <link rel="stylesheet" href="{% static 'resumeparser/css/custom/all.css' %}">
    <link rel="stylesheet" href="{% static 'resumeparser/css/custom/jquery.treeSelector.css' %}">

    <script src="{% static 'resumeparser/js/custom/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'resumeparser/js/custom/jquery.treeSelector.js' %}"></script>

    <script>
        jQuery(document).ready(function($) {
            var rootNode = [{
                "id": "1",
                "title": "CPP",
                value: 1,
                "children": [

                ]
            }, {
                "id": "2",
                "title": "JAVA",
                value: 2,
                "children": [

                ]
            }, {
                "id": "3",
                "title": "iOS",
                value: 3,
                "children": [

                ]
            }, {
                "id": "4",
                "title": "iOS",
                value: 3,
                "children": [

                ]
            }, {
                "id": "5",
                "title": "iOS",
                value: 3,
                "children": [

                ]
            }, {
                "id": "6",
                "title": "iOS",
                value: 3,
                "children": [

                ]
            }, {
                "id": "7",
                "title": "iOS",
                value: 3,
                "children": [

                ]
            }, {
                "id": "8",
                "title": "iOS",
                value: 3,
                "children": [

                ]
            }]

            $('div.treeSelector').treeSelector(rootNode, [], function(e, values) {
                console.info('onChange', e, values);
            }, {
                checkWithParent: true,
                titleWithParent: true,
                notViewClickParentTitle: true
            })
        })
    </script>

</head>

<body>

    <div style="width:200px;">

        <div class="treeSelector"></div>

    </div>

</body>

</html>