/* The container */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check-option-text {

  font-size: 16px;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark-checkbox:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark-checkbox:after {
  left: 8px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (min-width: 400px) {

  .container-checkbox {
  
    padding-left: 20px;
    margin-bottom: 6px;
  }

  .check-option-text {

    font-size: 12px;
  }

  .checkmark-checkbox {
  
    height: 14px;
    width: 14px;
  }

  .container-checkbox .checkmark-checkbox:after {
    left: 5px;
    top: 3px;
    width: 4px;
    height: 7px;
  }
}

@media screen and (min-width: 600px) {
  
  .container-checkbox {
  
    padding-left: 25px;
    margin-bottom: 6px;
  }

  .check-option-text {

    font-size: 14px;
  }

  .checkmark-checkbox {
  
    height: 17px;
    width: 17px;
  }

  .container-checkbox .checkmark-checkbox:after {
    left: 7px;
    top: 3px;
    width: 4px;
    height: 8px;
  }
}