
*{
    margin:0;
    padding:0;
}

body,html {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
}


.top-bar-nav-item {

    padding: .35rem 1.5rem !important;
}

.boot-navbar {background-color: #ff98003b !important;}

.menu {

    background-image:url('train.png') !important;
}


.station-cell-cont {display: table;width: 100%;background-color: #edf78e;/* border-radius: 5px; */overflow: hidden;}

.station-cell {display: table-row;background-color: rgb(190, 35, 66);/* padding: 5px 8px; */}

.station-title-bar {display: table-cell;font-size: 1.3rem;/* padding: 5px 8px; *//* background-color: blueviolet; */}

.station-title {color: white;}

.station-edit-bar {display: table-cell;font-size: 1.3rem;/* padding: 5px 8px; *//* background-color: blueviolet; */}

.station-delete-bar {display: table-cell;font-size: 1.3rem;/* padding: 5px 8px; *//* background-color: blueviolet; */}

.station-edit-btn {display: table-cell;float: right;}

.station-delete-btn {display: table-cell;color: wheat;float: right;}

/* Table  */
display-as-table  {
    display: table;
    width: 100%;
}

/* Table row */
seller-info-container {
    display: table-row;
    margin-top: 10px;
    vertical-align: top;
    width: 100%;
}

/* Cell */
seller-detail-area {
    display: table-cell;
    margin-right: 20px;
}

/*Cell 2*/
.seller-image-area {
    display: table-cell;
    vertical-align: middle;
    background-color: #08b7bd;
}

/* line by line text.... */
.top-left {
    float: left;
    clear: both;
    display: block;
}

.title-text {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

/* Image container */

.seller-image-container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: #dee2e6;
    border: 5px solid #6c757d;
    overflow: hidden;
}

element.style {
    background-image: url(/media/FileStorage/User/Customer/2);
}

.user-session-img {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

equal-width-parent {
    margin-top: 5px;
    display: table;
    width: 100%;
}

.equal-width-child {
    padding: 2px;
    display: table-cell;
    max-width: 0px;
}

/* review sections.... */

.review-box {
    float: left;
    clear: both;
    display: table;
    /* background-color: #4d1736; */
    width: 100%;
    height: 100%;
}

/* section 1 */

.review-sections {
    display: table-row;
    margin-top: 10px;
    vertical-align: top;
    width: 100%;
}
/* 1- 1*/
.review-section-header-box {
    width: 100%;
    border-left: 2.5px solid rgb(241, 104, 12);
    background-color: #e9ecef;
    overflow: hidden;
}

/* 2 is as 1 and this is 2-1 */

.review-section-graph-container {
    display: table-cell;
    vertical-align: middle;
    /* background-color: #bd2408; */
}

/* this is 2 - 1- 1 only width and height with media query ... */

/* TOP BAR USER SESSION DETAILS */

.user-info-container {
    display: table-row;
    padding: 10px;
    vertical-align: middle;
    width: 100%;
    border-radius: 6px;
    background-image: url(yellow-pattern.png);
}

/*login page forgot password link . */

.link-customer {
    width: 100%;
    margin-right: 10px;
    margin-bottom: 5px;
    /* float: right; */
    font-size: 12px;
    font-weight: normal;
    text-align: right;
    color: mediumblue;
    text-decoration: underline !important;
}

/*  */

.col-box-50 {
    display: table-cell;
    width: 50%;
    overflow: hidden;
}

.admin-ml-training-area-title-bar {
    width: 100%;
    color: white;
    text-align: center;
    background-color: #117a8b;
    overflow: hidden;
    padding: 10px;
    font-size: 16px;
}
