
.bot-box {

    text-indent: 0px !important; 
    line-height: normal !important;
}

.bot-box-link-submit-btn {

    background-color: #00000099;
    color: white;
    border-radius: 5px;
    margin-left: 5px; 
    margin-top: 8px;
    padding: 3px 7px;
    height: 40px;
}

.go-left {

    float: left;
}

.bot-instructions {

    margin: 5px;
    line-height: normal;
    color: rgb(255, 255, 255);
}

.bot-loading-msg {

    float: left;
    color: #ffffff;
}

.bot-err-msg {

    background-color: #ffff00ff;
    color: red;
    padding: 3px 7px;
    border-radius: 3px;
    margin: 5px;
}

.loader-container {

    margin-top: 8px;
    margin-left: 15px;
    float: left;
}

.loader {
    float: left;
    border: 6px solid #ffffff;
    border-radius: 50%;
    border-top: 6px solid #ffffff00;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
 

