.route-box, .trip-box, .weekly-availability-box, .line-separator, .item-grid, .station-location-at-grid, .station-location-grid, .station-location-header-grid, .station-grid, .station-title-grid {
  display: table;
}

.route-row-header, .route-row, .trip-row, .weekly-availability-row, .item-grid-row, .station-location-at-bar, .station-location-bar, .station-location-header-bar, .station-bar, .station-title-bar {
  display: table-row;
  width: 100%;
}

.trip-col-data, .trip-col-header, .route-col, .route-col-header, .weekly-availability-col, .item-grid-column, .station-location-at-section, .station-location-section, .station-location-header-section, .station-section, .station-title-section, .full-width-column {
  display: table-cell;
}

.zero-margin {
  margin: 0px !important;
}

.zero-padding {
  padding: 0px !important;
}

.no-margin-padding {
  margin: 0px !important;
  padding: 0px !important;
}

.item-grid, .station-location-at-grid, .station-location-grid, .station-location-header-grid, .station-grid, .station-title-grid {
  padding: 8px;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .item-grid, .station-location-at-grid, .station-location-grid, .station-location-header-grid, .station-grid, .station-title-grid {
    padding: 4px;
  }
}
@media screen and (max-width: 600px) {
  .item-grid, .station-location-at-grid, .station-location-grid, .station-location-header-grid, .station-grid, .station-title-grid {
    padding: 6px;
  }
}
.line-separator {
  height: 1px;
  margin-left: 8px;
  margin-right: 8px;
  width: calc(100% - 16px);
  background-color: #8c42b4;
}

@media screen and (max-width: 400px) {
  .line-separator {
    margin-left: 3px;
    margin-right: 3px;
    width: calc(100% - 6px);
  }
}
@media screen and (max-width: 600px) {
  .line-separator {
    margin-left: 6px;
    margin-right: 6px;
    width: calc(100% - 12px);
  }
}
.item-grid-row, .station-location-at-bar, .station-location-bar, .station-location-header-bar, .station-bar, .station-title-bar {
  padding: 5px 8px;
}

.item-grid-column, .station-location-at-section, .station-location-section, .station-location-header-section, .station-section, .station-title-section, .full-width-column {
  vertical-align: middle;
}

.full-width-column {
  width: 100%;
}

.station-title-grid {
  background-color: #8c42b4;
}

@media screen and (max-width: 400px) {
  .station-title-grid {
    padding: 2px;
  }
}
@media screen and (max-width: 600px) {
  .station-title-grid {
    padding: 4px;
  }
}
.station-title-bar {
  padding: 0px;
}

.station-title-section {
  padding: 2px 5px;
}

@media screen and (max-width: 400px) {
  .station-title-section {
    padding: 1px 2px;
  }
}
@media screen and (max-width: 600px) {
  .station-title-section {
    padding: 2px 3px;
  }
}
.station-title {
  float: left;
  color: white;
  font-size: 17px;
}

@media screen and (max-width: 400px) {
  .station-title {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .station-title {
    font-size: 16px;
  }
}
.station-edit-btn {
  float: right;
  width: 22px;
  height: 22px;
  margin-left: 8px;
}

@media screen and (max-width: 400px) {
  .station-edit-btn {
    width: 18px;
    height: 18px;
    margin-left: 3px;
  }
}
@media screen and (max-width: 600px) {
  .station-edit-btn {
    width: 18px;
    height: 18px;
    margin-left: 6px;
  }
}
.station-section {
  padding: 2px 5px;
}

@media screen and (max-width: 400px) {
  .station-section {
    padding: 1px 2px;
  }
}
@media screen and (max-width: 600px) {
  .station-section {
    padding: 2px 3px;
  }
}
.station-name {
  color: #8c42b4;
  font-size: 16px;
  font-weight: bolder;
  float: left;
  margin-right: 8px;
  margin-bottom: 2px;
}

@media screen and (max-width: 400px) {
  .station-name {
    font-size: 13px;
    margin-right: 3px;
    margin-bottom: 1px;
  }
}
@media screen and (max-width: 600px) {
  .station-name {
    font-size: 14px;
    margin-right: 6px;
    margin-bottom: 2px;
  }
}
.station-grade-main-central, .station-grade-ordinary, .station-grade-main {
  background: #E91E63;
  color: yellow;
  padding: 2px 6px;
  float: left;
  font-size: 12px;
  border-radius: 2px;
}

@media screen and (max-width: 400px) {
  .station-grade-main-central, .station-grade-ordinary, .station-grade-main {
    padding: 2px 6px;
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  .station-grade-main-central, .station-grade-ordinary, .station-grade-main {
    padding: 2px 6px;
    font-size: 12px;
  }
}
.station-grade-main {
  background: #56940f;
  color: yellow;
}

.station-grade-ordinary {
  background: #1d0bb1;
  color: white;
}

.station-location-header-section {
  padding: 2px 5px;
}

@media screen and (max-width: 400px) {
  .station-location-header-section {
    padding: 1px 3px;
  }
}
@media screen and (max-width: 600px) {
  .station-location-header-section {
    padding: 2px 4px;
  }
}
.station-location-header {
  float: left;
  color: #d07e06;
  font-size: 13px;
  font-weight: light;
  text-decoration: underline;
}

@media screen and (max-width: 400px) {
  .station-location-header {
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  .station-location-header {
    font-size: 12px;
  }
}
.station-location-grid {
  padding-top: 2px;
  padding-bottom: 2px;
}

.station-location-section {
  padding: 2px 5px;
}

@media screen and (max-width: 400px) {
  .station-location-section {
    padding: 1px 3px;
  }
}
@media screen and (max-width: 600px) {
  .station-location-section {
    padding: 2px 4px;
  }
}
.station-location-name, .station-location-desc, .station-desc {
  float: left;
  color: #0087f3;
  font-size: 16px;
  margin-bottom: 3px;
  margin-right: 8px;
}

@media screen and (max-width: 400px) {
  .station-location-name, .station-location-desc, .station-desc {
    font-size: 13px;
    margin-bottom: 1px;
    margin-right: 4px;
  }
}
@media screen and (max-width: 600px) {
  .station-location-name, .station-location-desc, .station-desc {
    font-size: 14px;
    margin-bottom: 2px;
    margin-right: 6px;
  }
}
.station-desc {
  color: #291e3e;
  font-size: 16px;
  clear: left;
  margin-top: 8px;
}

@media screen and (max-width: 400px) {
  .station-desc {
    font-size: 13px;
    margin-top: 4px;
  }
}
@media screen and (max-width: 600px) {
  .station-desc {
    font-size: 14px;
    margin-top: 6px;
  }
}
.station-location-desc {
  color: #291e3e;
  font-size: 16px;
}

@media screen and (max-width: 400px) {
  .station-location-desc {
    font-size: 13px;
  }
}
@media screen and (max-width: 600px) {
  .station-location-desc {
    font-size: 14px;
  }
}
.station-location-grade-metropolitian, .station-location-grade-panchayath, .station-location-grade-municipality, .station-location-grade-corporation {
  background-color: #e91e63;
  color: white;
  padding: 2px 6px;
  float: left;
  font-size: 12px;
  border-radius: 2px;
}

@media screen and (max-width: 400px) {
  .station-location-grade-metropolitian, .station-location-grade-panchayath, .station-location-grade-municipality, .station-location-grade-corporation {
    font-size: 12px;
    padding: 1px 3px;
  }
}
@media screen and (max-width: 600px) {
  .station-location-grade-metropolitian, .station-location-grade-panchayath, .station-location-grade-municipality, .station-location-grade-corporation {
    font-size: 12px;
    padding: 2px 4px;
  }
}
.station-location-grade-corporation {
  background-color: #ffffff;
  color: black;
}

.station-location-grade-municipality {
  background-color: #3F51B5;
  color: #FFEB3B;
}

.station-location-grade-panchayath {
  background-color: #f1db1a;
  color: #2b2a2a;
}

.station-location-at-grid {
  padding-top: 2px;
  padding-bottom: 2px;
}

.station-location-at-bar {
  margin-left: 0px;
}

.station-location-at-section {
  padding: 2px 5px;
}

@media screen and (max-width: 400px) {
  .station-location-at-section {
    padding: 1px 3px;
  }
}
@media screen and (max-width: 600px) {
  .station-location-at-section {
    padding: 2px 4px;
  }
}
.station-location-at-info {
  color: #d00d52;
  font-size: 14px;
  float: left;
}

@media screen and (max-width: 400px) {
  .station-location-at-info {
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  .station-location-at-info {
    font-size: 12px;
  }
}
.location-img {
  width: 22px;
  height: 22px;
  margin-left: 8px;
  float: left;
}

@media screen and (max-width: 400px) {
  .location-img {
    width: 18px;
    height: 18px;
    margin-left: 2px;
  }
}
@media screen and (max-width: 600px) {
  .location-img {
    width: 18px;
    height: 18px;
    margin-left: 6px;
  }
}
.station-location {
  color: #1507c1;
  margin-left: 8px;
  float: left;
  font-weight: bold;
}

@media screen and (max-width: 400px) {
  .station-location {
    margin-left: 3px;
  }
}
@media screen and (max-width: 600px) {
  .station-location {
    margin-left: 5px;
  }
}
.top-bar {
  width: 100%;
  background-color: #8c42b4;
  text-align: center;
  vertical-align: middle;
  padding: 12px 0px 12px 0px;
}

@media screen and (max-width: 400px) {
  .top-bar {
    padding: 5px 0px 5px 0px;
  }
}
@media screen and (max-width: 600px) {
  .top-bar {
    padding: 8px 0px 8px 0px;
  }
}
.top-bar-title {
  color: white;
  font-size: 18px;
  color: white;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 400px) {
  .top-bar-title {
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  .top-bar-title {
    font-size: 17px;
  }
}
.top-bar-user-info {
  width: 100%;
  background-color: #2598fd;
  text-align: left;
  vertical-align: middle;
  padding: 4px 20px;
}

@media screen and (max-width: 400px) {
  .top-bar-user-info {
    padding: 2px 10px;
  }
}
@media screen and (max-width: 600px) {
  .top-bar-user-info {
    padding: 3px 15px;
  }
}
.top-bar-title-user-info {
  color: white;
  font-size: 16px;
  color: white;
  font-weight: normal;
  text-align: left;
}

@media screen and (max-width: 400px) {
  .top-bar-title-user-info {
    font-size: 13px;
  }
}
@media screen and (max-width: 600px) {
  .top-bar-title-user-info {
    font-size: 14px;
  }
}
.data-input-container {
  padding: 7px 11px 7px 11px;
  width: 100%;
  border: 1px solid #8c42b4;
}

@media screen and (max-width: 400px) {
  .data-input-container {
    padding: 3px 5px 3px 5px;
  }
}
@media screen and (max-width: 600px) {
  .data-input-container {
    padding: 5px 7px 5px 7px;
  }
}
.data-input-box, .data-input-box-grouped {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  vertical-align: middle;
  overflow: hidden;
}

@media screen and (max-width: 400px) {
  .data-input-box, .data-input-box-grouped {
    margin-top: 6px;
    margin-bottom: 2px;
  }
}
@media screen and (max-width: 600px) {
  .data-input-box, .data-input-box-grouped {
    margin-top: 7px;
    margin-bottom: 3px;
  }
}
.data-input-title {
  color: #8c42b4;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 400px) {
  .data-input-title {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .data-input-title {
    font-size: 16px;
  }
}
.data-input-box-grouped {
  padding: 10px;
  border: 1px solid #8c42b4;
  border-radius: 3px;
  background-color: #9c27b024;
}

@media screen and (max-width: 400px) {
  .data-input-box-grouped {
    padding: 4px;
  }
}
@media screen and (max-width: 600px) {
  .data-input-box-grouped {
    padding: 6px;
  }
}
.data-input-icon {
  width: 22px;
  height: 22px;
  margin-top: 5px;
  float: left;
}

@media screen and (max-width: 400px) {
  .data-input-icon {
    width: 18px;
    height: 18px;
    margin-top: 2px;
  }
}
@media screen and (max-width: 600px) {
  .data-input-icon {
    width: 18px;
    height: 18px;
    margin-top: 3px;
  }
}
.data-input-header {
  float: left;
  color: #8c42b4;
  font-size: 16px;
  margin-left: 8px;
}

@media screen and (max-width: 400px) {
  .data-input-header {
    font-size: 13px;
    margin-left: 2px;
  }
}
@media screen and (max-width: 600px) {
  .data-input-header {
    font-size: 14px;
    margin-left: 5px;
  }
}
.data-input-control-textarea {
  height: 100px;
}

@media screen and (max-width: 400px) {
  .data-input-control-textarea {
    height: 70px;
  }
}
@media screen and (max-width: 400px) {
  .data-input-control-textarea {
    height: 80px;
  }
}
.drop-down-control {
  background-color: #8c42b4;
  color: white;
}

.submit-btn {
  background-color: #8c42b4;
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

@media screen and (max-width: 400px) {
  .submit-btn {
    padding: 3px 8px;
    font-size: 11px;
    margin: 4px 2px;
  }
}
@media screen and (max-width: 600px) {
  .submit-btn {
    padding: 4px 8px;
    font-size: 13px;
    margin: 4px 2px;
  }
}
footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: #8c42b4;
  padding: 10px;
  height: 40px;
  margin-top: 15px;
}

@media screen and (max-width: 400px) {
  footer {
    padding: 5px;
    height: 24px;
    margin-top: 7px !important;
  }
}
@media screen and (max-width: 600px) {
  footer {
    padding: 8px;
    height: 32px;
    margin-top: 10px !important;
  }
}
.copyright-title {
  text-align: center;
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 400px) {
  .copyright-title {
    font-size: 13px;
  }
}
@media screen and (max-width: 600px) {
  .copyright-title {
    font-size: 14px;
  }
}
.nav-item-L1 {
  font-size: 16px !important;
  font-weight: regular;
  color: blue !important;
}

@media screen and (max-width: 400px) {
  .nav-item-L1 {
    font-size: 13px !important;
  }
}
@media screen and (max-width: 600px) {
  .nav-item-L1 {
    font-size: 14px !important;
  }
}
.nav-item-L2 {
  font-size: 16px !important;
  font-weight: regular;
  color: blue !important;
}

@media screen and (max-width: 400px) {
  .nav-item-L2 {
    font-size: 13px !important;
  }
}
@media screen and (max-width: 600px) {
  .nav-item-L2 {
    font-size: 14px !important;
  }
}
.nav-item-L1:hover {
  font-weight: regular;
  color: blue !important;
}

.nav-item-L2:hover {
  font-weight: regular;
  color: blue !important;
}

.weekly-availability-box {
  padding: 3px;
  border: 1px dashed #8c42b4;
  margin: 5px;
}

.weekly-availability-row {
  width: 100%;
}

.weekly-availability-col {
  vertical-align: middle;
  padding: 0px 2.5px 0px 2.5px;
  border: 1px dotted #8c42b4;
  font-weight: bold;
  color: #0000ff;
}

.weekly-availability-img {
  width: 20px;
  height: 20px;
  border: 1px dashed #8c42b4;
}

.availability-header {
  color: #8c42b4;
  font-size: 16px;
  font-weight: bolder;
  float: left;
}

.container-radio {
  color: #8c42b4;
}

.checkmark-radio {
  background-color: white;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark-radio {
  background-color: yellow;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark-radio {
  background-color: #8c42b4;
}

.check-option-text {
  color: #8c42b4;
}

.checkmark-checkbox {
  background-color: white;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark-checkbox {
  background-color: yellow;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark-checkbox {
  background-color: #8c42b4;
}

.route-box, .trip-box {
  padding: 3px;
  border: 1px double #8c42b4;
  margin: 5px;
}

.route-row, .trip-row {
  width: 100%;
}

.route-row-header {
  width: 100%;
  background-color: #8c42b4;
}

.route-col-header {
  vertical-align: middle;
  padding: 0px 4.5px 0px 4.5px;
  border: 1px dotted #eeeeee;
  font-weight: bold;
  color: #ffffff;
}

.route-col {
  vertical-align: middle;
  padding: 0px 4.5px 0px 4.5px;
  border: 1px dotted #8c42b4;
  font-weight: normal;
  color: #444444;
}

.route-img {
  width: 20px;
  height: 20px;
  border: 1px dashed #8c42b4;
}

.route-header {
  color: #8c42b4;
  font-size: 16px;
  font-weight: bolder;
  float: left;
}

.page-bar, .section-bar {
  border-left: 7px solid #8c42b4;
  padding: 8px 15px;
  background-color: #cddc3924;
}

@media screen and (max-width: 400px) {
  .page-bar, .section-bar {
    border-left: 2px solid #8c42b4;
    padding: 4px 10px;
  }
}
@media screen and (max-width: 600px) {
  .page-bar, .section-bar {
    border-left: 4px solid #8c42b4;
    padding: 6px 12px;
  }
}
.page-title, .section-title {
  font-size: 30px;
  color: #E91E63;
}

@media screen and (max-width: 400px) {
  .page-title, .section-title {
    font-size: 22px;
  }
}
@media screen and (max-width: 600px) {
  .page-title, .section-title {
    font-size: 22px;
  }
}
.page-desc, .section-desc {
  font-size: 18px;
  margin-left: 12px;
  color: #1902b9;
}

@media screen and (max-width: 400px) {
  .page-desc, .section-desc {
    font-size: 15px;
    margin-left: 8px;
  }
}
@media screen and (max-width: 600px) {
  .page-desc, .section-desc {
    font-size: 15px;
    margin-left: 10px;
  }
}
.section-bar {
  border-left: 5px solid #8c42b4;
  padding: 6px 20px;
}

@media screen and (max-width: 400px) {
  .section-bar {
    border-left: 1px solid #8c42b4;
    padding: 2px 16px;
  }
}
@media screen and (max-width: 600px) {
  .section-bar {
    border-left: 2px solid #8c42b4;
    padding: 4px 18px;
  }
}
.section-title {
  font-size: 24px;
}

@media screen and (max-width: 400px) {
  .section-title {
    font-size: 21px;
  }
}
@media screen and (max-width: 600px) {
  .section-title {
    font-size: 21px;
  }
}
.section-desc {
  font-size: 16px;
  margin-left: 12px;
  color: #1902b9;
}

@media screen and (max-width: 400px) {
  .section-desc {
    font-size: 14px;
    margin-left: 8px;
  }
}
@media screen and (max-width: 600px) {
  .section-desc {
    font-size: 14px;
    margin-left: 10px;
  }
}
.page-segment {
  width: 100%;
  margin: 8px 0;
}

.trip-row {
  width: 100%;
}

.trip-col-header {
  vertical-align: middle;
  padding: 0px 4.5px 0px 4.5px;
  border: 1px dotted #eeeeee;
  background-color: #8c42b4;
  font-weight: bold;
  color: #ffffff;
}

.trip-col-data {
  vertical-align: middle;
  padding: 0px 4.5px 0px 4.5px;
  border: 1px dotted #8c42b4;
  font-weight: normal;
  color: #444444;
}

.trip-status-scheduled, .trip-status-completed, .trip-status-started {
  background: #eef13d;
  color: #bd0b0b;
  padding: 4px 8px;
  border-radius: 3px;
  text-align: center;
}

.trip-status-started {
  background: #0a91e0;
  color: #e6fd65;
}

.trip-status-completed {
  background: #26980a;
  color: yellow;
}

.running-status-not-started-yet, .running-status-reached-destination, .running-status-running-late, .running-status-running {
  background: #0c949a;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 3px;
  text-align: center;
}

.running-status-running {
  background: #0e2492;
  color: #ffffff;
}

.running-status-running-late {
  background: #d21212;
  color: #ffffff;
}

.running-status-reached-destination {
  background: #ec138c;
  color: #ffffff;
}

.top-bar-nav-item {
  padding: 0.35rem 1.5rem !important;
}

.boot-navbar {
  background-color: #cddc3933 !important;
}
.error-text {
  color: #ff0000;
  font-size: 16px;
  padding: 5px 10px;
}

@media screen and (max-width: 400px) {
  .error-text {
    color: #ff0000;
    font-size: 14px;
    padding: 3px 6px;
  }
}
@media screen and (max-width: 600px) {
  .error-text {
    color: #ff0000;
    font-size: 14px;
    padding: 4px 7px;
  }
}

/*# sourceMappingURL=main.css.map */
