.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #f7f7f7;

  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color:  #097b7d;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content
*/
.dropdown-container {
  display: none;
  background-color: #097b7d;
  padding-left: 8px;
  padding-right: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.search-input {
  background-color: #ffffff;
  color: #222222;
  border-radius: 20px;
  padding: 4px 15px;
}

.enterdata{
  background-color: #606060;
  color: white;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 5px;
  padding: 3px 7px;
  height:35px;
  text-align: center;
}